.footer--container {
    display: flex;
    justify-content: space-between;
    padding: 20px 73px;
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;
}

.footer--icon {
    width: 25px;
}
